@using Menoo.PrinterService.Infraestructure.Database.Firebase.Entities
@using System.Globalization
@model System.Collections.Generic.Dictionary<string, object>
@{
    bool allowLogo = Convert.ToBoolean(Model["allowLogo"]);
}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            @Model["style"].ToString()
        </style>
    </head>
    <body>
        <div class="invoice-pos">
            <div class="section-center invoince-header">
                <div class="section-center invoince-header">
                    <div class="section-center">
                        @if (allowLogo)
                        {
                            <img class="img-logo" src="@Model["logo"].ToString()" alt="MENOO" />
                        }
                        else
                        {
                            <span class="title">MENOO</span>
                        }
                    </div>
                </div>
                <div class="section-center uppercase">
                    @Model["title"].ToString()
                </div>
            </div>
            @{
                if (!string.IsNullOrEmpty(Model["userName"].ToString()))
                {
                    <div class="row">
                        <div class="column-50 section-left"><b>N° mesa:</b> @Model["tableNumber"].ToString()</div>
                        <div class="column-50 section-right"><b>Fecha: @Model["closedAt"].ToString()</b></div>
                    </div>
                    <div class="row">
                        <div class="section-left"><b>Cliente:</b> @Model["userName"].ToString()</div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="column-50 section-left"><b>N° mesa:</b> @Model["tableNumber"].ToString()</div>
                        <div class="column-50 section-right"><b>Hora retiro: @Model["closedAt"].ToString()</b></div>
                    </div>
                }
            }
            <div class="row"><hr /></div>
            <div class="row section-custom-header uppercase">
                <div class="section-center"><b>Consumo final</b></div>
            </div>
        </div>
    </body>
</html>
