@using Menoo.PrinterService.Infraestructure.Database.Firebase.Entities
@using System.Globalization
@model System.Collections.Generic.Dictionary<string, object>
@{
    OrderV2 orderData = (OrderV2)Model["orderData"];
    string htmlPictureTag = "";
    if (Model.ContainsKey("qrCode"))
    {
        htmlPictureTag = Model["qrCode"].ToString();
    }
    string subTotal = Model["subtotal"].ToString();
    string total = Model["total"].ToString();
    int addons = Model.ContainsKey("addons") ? Convert.ToInt32(Model["addons"]) : 0;
}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            @Model["style"].ToString()
        </style>
    </head>
    <body>
        <div class="invoice-pos">
            <div class="section-center invoince-header">
                <div class="section-center">
                    <img class="img-logo" src="@Model["logo"].ToString()" alt="MENOO">
                </div>
                <div class="section-center">
                    @Model["title"].ToString()
                </div>
            </div>
            <div class="row">
                <div class="column section-left"><b>N° Orden:</b> @Model["orderNumber"].ToString()</div>
                <div class="column section-right"><b>Hora retiro: @Model["taTime"].ToString()</b></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="section-left"><b>Cliente:</b> @Model["clientName"].ToString()</div>
            </div>
            <div class="row"><hr /></div>
            <div class="row section-custom-header">
                <div class="section-center"><b>Detalle del pedido</b></div>
            </div>
            @foreach (ItemOrderV2 item in orderData.Items)
            {
                <div class="row">
                    <div class="column section-left">
                        <span class="item-quantity section-left">@item.Quantity x </span><b>@item.Name</b>
                    </div>
                    <div class="column section-right">
                        @{
                            if (item.PriceWithDiscountTA != item.Price)
                            {
                                <span class="invalid-text">$@item.Price</span>
                            }
                        }
                        $@item.PriceWithDiscountTA
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                @if (item.Options != null)
                {
                    <div class="row">
                        <ul class="item-detail">
                            @{
                                foreach (ItemOptionV2 option in item.Options)
                                {
                                    string extraName = option.Price == 0 ? option.Name : option.Quantity + " x " + option.Name;
                                    <li class="row">
                                        @if (option.Price > 0)
                                        {
                                            <span class="column section-left">
                                                @extraName
                                            </span>
                                            <span class="column section-right">
                                                $@option.Price
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="section-left">
                                                @extraName
                                            </span>
                                        }
                                    </li>
                                    <li class="row">&nbsp;</li>
                                }
                            }
                        </ul>
                    </div>
                }
            }
            <div class="row"><hr /></div>
            <div class="row">
                <div class="column section-left">Subtotal:</div>
                <div class="column section-right">$@subTotal</div>
            </div>
            <div class="row">
                <div class="column section-left header uppercase"><b>TOTAL:</b></div>
                <div class="column section-right header uppercase"><b>$@total</b></div>
            </div>
            @{
                if (addons > 0)
                {
                    <div class="row">
                        <div class="column section-left">Adicional por servicio:</div>
                        <div class="column section-right">@addons</div>
                    </div>
                }
            }
            <div class="row"><hr /></div>
            @{
                if (!string.IsNullOrEmpty(htmlPictureTag))
                {
                    <div class="section-center">
                        <img class="img-order-qr" src="@htmlPictureTag" alt="Orden Takeaway">
                    </div>
                }
            }
        </div>
    </body>
</html>
