@using System.Collections.Generic
@using Menoo.PrinterService.Infraestructure.Database.Firebase.Entities
@model System.Collections.Generic.Dictionary<string, object>
@{
    OrderV2 orderData = (OrderV2)Model["orderData"];
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            @Model["style"].ToString()
        </style>
    </head>
    <body>
        <div class="invoice-pos">
            <div class="section-center invoince-header">
                <div class="section-center">
                    <img class="img-logo" src="@Model["logo"].ToString()" alt="MENOO">
                </div>
                <div class="section-center">
                    @Model["title"].ToString()
                </div>
            </div>
            <div class="row">
                <div class="column-50 section-left"><b>N° Orden:</b> @Model["orderNumber"].ToString()</div>
                <div class="column-50 section-right"><b>Mesa: @Model["tableNumber"].ToString()</b></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="section-left"><b>Cliente:</b> @Model["clientName"].ToString()</div>
            </div>
            <div class="row"><hr /></div>
            <div class="row section-custom-header">
                <div class="section-center"><b>Detalle del pedido</b></div>
            </div>
            @foreach (ItemOrderV2 item in orderData.Items)
            {
                <div class="row">
                    <div class="column-80 section-left">
                        <span class="item-quantity section-left">@item.Quantity x </span><b>@item.Name</b>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                @if (item.Options != null)
                {
                    <div class="row">
                        <ul class="item-detail">
                            @{
                                foreach (ItemOptionV2 option in item.Options)
                                {
                                    string extraName = option.Price == 0 ? "Opción: " + option.Name : "Opción: " + option.Quantity + " x " + option.Name;
                                    <li class="row">
                                            <span class="section-left">
                                                @extraName
                                            </span>
                                    </li>
                                    <li class="row">&nbsp;</li>
                                }
                                if (!string.IsNullOrEmpty(item.GuestComment))
                                {
                                    <li class="row">* @item.GuestComment</li>
                                    <li class="row">&nbsp;</li>
                                }
                            }
                        </ul>
                    </div>
                }
                else if (!string.IsNullOrEmpty(item.GuestComment))
                {
                    <div class="row">
                        <ul class="item-detail">
                            <li class="row">@item.GuestComment</li>
                            <li class="row">&nbsp;</li>
                        </ul>
                    </div>
                }
            }
            <div class="row"><hr /></div>
        </div>
    </body>
</html>
