@using System.Collections.Generic
@using Menoo.PrinterService.Infraestructure.Database.Firebase.Entities
@model System.Collections.Generic.Dictionary<string, object>
@{
    ItemOrderV2 item = (ItemOrderV2)Model["item"];
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            @Model["style"].ToString()
        </style>
    </head>
    <body>
        <div class="invoice-pos">
            <div class="section-center invoince-header">
                <div class="section-center">
                    <img class="img-logo" src="@Model["logo"].ToString()" alt="MENOO">
                </div>
                <div class="section-center">
                    @Model["title"].ToString()
                </div>
            </div>
            <div class="row">
                <div class="section-left"><b>N° Orden:</b> @Model["orderNumber"].ToString()</div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="section-left"><b>Cliente:</b> @Model["clientName"].ToString()</div>
            </div>
            <div class="row"><hr /></div>
            <div class="row section-custom-header">
                <div class="section-center"><b>Plato a preparar</b></div>
            </div>
            <div class="row">
                <div class="section-left">
                    <span class="item-quantity">@item.Quantity x </span><b>@item.Name</b>
                    @if (item.Options != null) 
                    {
                        <ul class="item-detail">
                            @foreach (ItemOptionV2 option in item.Options)
                            {
                                string extra = option.Price == 0 ? "Opción: " + option.Name : option.Quantity + " x " + option.Name;
                                <li>@extra</li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="row"><hr /></div>
        </div>
    </body>
</html>
